<tr class="narr_tr">
  
  <td><%if entry.negationInd %><b>Not Done: </b><% end %><%= entry.description %></td>
  <td>
    <% entry.codes.each do |set, codes| %>
      <% entry_key = "#{entry.id}_#{by_encounter}" %>
      <b>
        <% if code_map %>
          <%= set %>: <i><% codes.each do |code| %>
                              <span onmouseover="showCodes(event,'<%=entry_key%>_<%=set%>_<%=code.to_s%>')" onmouseout="hideCodes(event,'<%=entry_key%>_<%=set%>_<%=code.to_s%>')" style="cursor:pointer;"><%=code.to_s%></span>
                          <% end %>
                      </i>
        <% else %>
          <%= set %>: <%= codes.join(',') %>
        <% end %>
      </b>
      <% if code_map %>
        <% codes.each do |code| %>
          <span id="<%=entry_key%>_<%=set%>_<%=code.to_s%>" style="display: none; position: absolute; background: #EEE; padding: 10px; paddint-left: 30px; width: 200px; overflow: auto; z-index: 3000;"> <% description = code_map[set][code] if (code_map && code_map[set]) %><%= description %> </span>
        <% end %>
      <% end %>
      <br/>
    <% end %>
  </td>
  <td><%= entry.times_to_s('present') %></td>
  <td><%= decode_hqmf_status(entry.status, entry.oid) %></td>   
  <td>
    <% entry.values.each do |value| %>
      <% if value.respond_to? :scalar %>
        <% units = value.try(:units) if(value.respond_to?(:units)) %>
        <%= value.try(:scalar) %> <%= units %><br/>
      <% elsif value.respond_to? :codes %>
        <% value.codes.each do |system, vals| %>         
            <%= system %>: <%= vals.join(',') %>                
      <% end %>
        <%= (value.description ? "(#{value.description})" : '')%>
        <br/>
      <% else %>
        UNKNOWN VALUE
      <% end %>
    <% end %>
  </td>
  <td>
	  <% 
	    (entry.attributes.keys.reject {|key| ['codes', 'time', 'description', 'mood_code', 'values', '_id', '_type', 'start_time', 'end_time', 'status_code', 'negationInd', 'oid'].include? key}).sort.each do |field|
      field_value = convert_field_to_hash(field, entry.attributes[field])

    %>
        <% if field_value && !field_value.empty? %> 
        <dl>
          <% if field_value.is_a? Hash %>
            <dt><b><%= field.titleize %>:</b></dt>
	          <% field_value.keys.sort.reverse.each do |fieldkey| %>
	            <dd><%= fieldkey %>: <i><%= field_value[fieldkey] %></i></dd>
	          <% end %>
          <% else %>
            <dt><b><%= field.titleize %></b>: <%= field_value%></dt>
          <% end %>
        <dl>
        <% end %>
    <%
      end
    %>
	</td>

</tr>
