<tr class="narr_tr">
  
  <td><%if entry.negationInd %><b>Not Done: </b><% end %><%= entry.description %></td>
  <td>
    <% entry.codes.each do |set, codes| %>
      <b>
        <% if concept_map %>
          <span onmouseover="showConcepts(event,'<%=entry.id%>_<%=set%>')" onmouseout="hideConcepts(event,'<%=entry.id%>_<%=set%>')" style="cursor: pointer;"><%=set %>: <%= codes.join(',') %></span>
        <% else %>
          <%=set %>: <%= codes.join(',') %>
        <% end %>
      </b>
      <br/>
      <% if concept_map %>
        <%
          matches = []
          codes.each do |code|
            matches.concat(concept_map[set][code].values) if concept_map[set][code]
          end
        %>
        <ul id="<%=entry.id%>_<%=set%>" style="display: none; position: absolute; background: #EEE; padding: 10px; padding-left: 30px; width: 600px; z-index: 3000;">
          <% matches.each do |concept_match| %>
            <li><%= concept_match[:concept].titleize %> (<%= concept_match[:oid]%>)</li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </td>
  <td><%= entry.times_to_s('present') %></td>
  <td><%= decode_hqmf_status(entry.status, entry.oid) %></td>   
  <td>
    <% entry.values.each do |value| %>
      <% if value.respond_to? :scalar %>
        <% units = value.try(:units) if(value.respond_to?(:units)) %>
        <%= value.try(:scalar) %> <%= units %><br/>
      <% elsif value.respond_to? :codes %>
        <% value.codes.each do |system, vals| %>
          <%= system %>: <%= vals.join(',') %>
        <% end %>
        <%= (value.description ? "(#{value.description})" : '')%>
        <br/>
      <% else %>
        UNKNOWN VALUE
      <% end %>
    <% end %>
  </td>
  <td>
	  <% 
	    (entry.attributes.keys.reject {|key| ['codes', 'time', 'description', 'mood_code', 'values', '_id', '_type', 'start_time', 'end_time', 'status_code', 'negationInd', 'oid'].include? key}).each do |field|
      field_value = convert_field_to_hash(field, entry.attributes[field])

    %>
        <% if field_value && !field_value.empty? %> 
        <dl>
          <% if field_value.is_a? Hash %>
            <dt><b><%= field.titleize %>:</b></dt>
	          <% field_value.keys.each do |fieldkey| %>
	            <dd><%= fieldkey %>: <i><%= field_value[fieldkey] %></i></dd>
	          <% end %>
          <% else %>
            <dt><b><%= field.titleize %></b>: <%= field_value%></dt>
          <% end %>
        <dl>
        <% end %>
    <%
      end
    %>
	</td>

</tr>
