<table class="header_table">
  <tbody>
    <tr>
      <td width="20%" bgcolor="#3399ff"><span class="td_label">Patient</span></td>
      <td witdh="30%"><%= patient.first%> <%= patient.last%></td>
      <td width="15%" bgcolor="#3399ff"><span class="td_label">Sex</span></td>
      <td><%= (patient.gender == 'M') ? "Male" : (patient.gender == 'F') ? 'Female' : 'Unknown'%></td>
    </tr>
    <tr>
      <td width="20%" bgcolor="#3399ff"><span class="td_label">Date of birth</span></td>
      <td width="30%"><%= Time.at(patient.birthdate).utc.to_formatted_s(:long_ordinal)%></td>
      <td width="15%" bgcolor="#3399ff"><span class="td_label">Date of expiration</span></td>
      <td><%= (patient.expired) ? Time.at(patient.deathdate).utc.to_formatted_s(:long_ordinal) : "" %></td>
    </tr>
    <tr>
      <td width="20%" bgcolor="#3399ff"><span class="td_label">Race</span></td>
      <td width="30%"><%= patient.race.nil? ? 'Unknown' : (patient.race['name'] ? patient.race['name'] : "CDC-RE: #{patient.race['code']}") %></td>
      <td width="15%" bgcolor="#3399ff"><span class="td_label">Ethnicity</span></td>
      <td><%= patient.ethnicity.nil? ? 'Unknown' : (patient.ethnicity['name'] ? patient.ethnicity['name'] : "CDC-RE: #{patient.ethnicity['code']}") %></td>
    </tr>    
    <tr>
      <td bgcolor="#3399ff"><span class="td_label">Insurance Providers</span></td>
      <td>
      	<%=(patient.insurance_providers.map {|provider| provider.name }).join(", ") %>
      </td>
      <td bgcolor="#3399ff"><span class="td_label">Patient IDs</span></td>
      <td><%= patient.id %> Cypress</td>
    </tr>
    <tr>
      <td bgcolor="#3399ff"><span class="td_label">Contact info</span></td>
      <td colspan="3"> 
      <% if patient.addresses %>
      <% patient.addresses.each do |addr| %>
      <% addr.street.each do |street| %>
        <%= "#{street}," %>
      <% end %>
      <%= "#{addr.city}, #{addr.state}, #{addr.zip}." %>
      <% if addr.use %>
      (<%= addr.use %>)
      <% end %>
      <br />
      <% end %>
      <% end %>
      <% if patient.telecoms %>
      <% patient.telecoms.each do |telecom| %>
      <%= telecom.value %>
      <% if telecom.use %>
      (<%= telecom.use %>)
      <% end %>
      <br />
      <% end %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
<table class="header_table">
  <tbody>
    <tr>
      <td width="20%" bgcolor="#3399ff"><span class="td_label">Document Id</span></td>
      <td width="80%"><%= patient.id %> 2.16.840.1.113883.3.72</td>
    </tr>
    <tr>
      <td width="20%" bgcolor="#3399ff"><span class="td_label">Document Created:</span></td>
      <td width="80%"><%= Time.now.utc.to_formatted_s(:long_ordinal)%></td>
    </tr>
  </tbody>
</table>
<table class="header_table">
  <tbody>
    <tr>
      <td width="20%" bgcolor="#3399ff"><span class="td_label">Author</span></td>
      <td width="80%">Auto Generated</td>
    </tr>
    <tr>
      <td bgcolor="#3399ff"><span class="td_label">Contact info</span></td>
      <td>
        Tel:  +1-781-271-3000<br />
      </td>
    </tr>
  </tbody>
</table>
<table class="header_table">
  <tbody>
    <tr>
      <td width="20%" bgcolor="#3399ff"><span class="td_label">Document maintained by</span></td>
      <td width="80%">Cypress</td>
    </tr>
    <tr>
      <td bgcolor="#3399ff"><span class="td_label">Contact info</span></td>
      <td width="80%">202 Burlington Rd.<br />Bedford, MA 01730<br />Tel:  +1-781-271-3000<br /></td>
    </tr>
  </tbody>
</table>
