<component>
  <!--Allergies/Reactions-->
  <section>
    <templateId root="2.16.840.1.113883.3.88.11.83.102" assigningAuthorityName="HITSP/C83"/>
    <templateId root="1.3.6.1.4.1.19376.1.5.3.1.3.13" assigningAuthorityName="IHE PCC"/>
    <templateId root="2.16.840.1.113883.10.20.1.2" assigningAuthorityName="HL7 CCD"/>
    <!--Allergies/Reactions section template-->
    <code code="48765-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Allergies"/>
    <title>Allergies and Adverse Reactions</title>
    <%== render :partial => 'narrative_block', :locals => {:entries => entries, :section => 'allergies'} %>
    <% entries.each_with_index do |entry, i| -%>
    <entry typeCode="DRIV">
      <act classCode="ACT" moodCode="EVN">
        <templateId root="2.16.840.1.113883.3.88.11.83.6"/>
        <templateId root="2.16.840.1.113883.10.20.1.27"/>
        <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.3"/>
        <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1"/>
        <!--Allergy act template -->
        <id root="<%= UUID.generate %>"/>
        <code nullFlavor="NA"/>
        <statusCode code="active"/>
        <effectiveTime>
          <low <%= value_or_null_flavor(entry.as_point_in_time) %>/>
        </effectiveTime>
        <entryRelationship typeCode="SUBJ" inversionInd="false">
          <observation classCode="OBS" moodCode="EVN">
            <templateId root="2.16.840.1.113883.10.20.1.18"/>
            <templateId root="2.16.840.1.113883.10.20.1.28"/>
            <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.6"/>
            <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5"/>
            <id root="<%= UUID.generate %>"/>
            <code code="416098002" codeSystem="2.16.840.1.113883.6.96" displayName="drug allergy" codeSystemName="SNOMED CT">
              <originalText><reference value="#allergies-desc-<%= i %>"/></originalText>
            </code>
            <text>
              <reference value="#allergies-desc-<%= i %>"/>
            </text>
            <statusCode code="completed"/>
            <effectiveTime>
              <low <%= value_or_null_flavor(entry.as_point_in_time) %>/>
            </effectiveTime>
            <value xsi:type="CD" nullFlavor="UNK"/>
            <participant typeCode="CSM">
              <participantRole classCode="MANU">
                <playingEntity classCode="MMAT">
                  <%== render :partial => 'code_with_reference', 
                              :locals => {:entry => entry, :i => i, :section => 'allergies', 
                                          :preferred_code_sets => ['RxNorm']} %>
                  <name><%= entry.description %></name>
                </playingEntity>
              </participantRole>
            </participant>
          </observation>
        </entryRelationship>
      </act>
    </entry>
    <% end -%>
  </section>
</component>
