<?xml version="1.0" encoding="utf-8"?>
<ClinicalDocument xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="urn:hl7-org:v3"
 xmlns:cda="urn:hl7-org:v3">

  <!-- 
    ********************************************************
    CDA Header
    ********************************************************
  -->
  <realmCode code="US"/>
  <typeId root="2.16.840.1.113883.1.3" extension="POCD_HD000040"/>
  <!-- QRDA Category III Release 1 template ID (this template ID differs from QRDA III comment only template ID). -->
  <templateId root="2.16.840.1.113883.10.20.27.1.1"/>
  <id root="<%= UUID.generate %>"/>
  <!-- SHALL QRDA III document type code -->
  <code code="55184-6" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"
    displayName="Quality Reporting Document Architecture Calculated Summary Report"/>
  <!-- SHALL Title, SHOULD have this content -->
  <title>QRDA Calculated Summary Report</title>
  <!-- SHALL  -->
  <effectiveTime value="<%= Time.now.utc.to_formatted_s(:number) %>"/>
  <confidentialityCode codeSystem="2.16.840.1.113883.5.25" code="N"/>
  <languageCode code="en-US"/>
  <!-- SHOULD The version of the file being submitted. -->
  <versionNumber value="1"/>
  <!-- SHALL contain recordTarget and ID - but ID is nulled to NA. This is an aggregate summary report. Therefore CDA's required patient identifier is nulled. -->
  <recordTarget>
    <patientRole>
      <id nullFlavor="NA"/>
    </patientRole>
  </recordTarget>
  <!-- SHALL have 1..* author. MAY be device or person. 
    The author of the CDA document in this example is a device at a data submission vendor/registry. -->
  <author>
    <time value="<%= Time.now.utc.to_formatted_s(:number) %>"/>
    <assignedAuthor>
      <!-- Registry author ID -->
      <id extension="Cypress" root="MITRE"/>
      <assignedAuthoringDevice>
        <softwareName></softwareName>
      </assignedAuthoringDevice>
      <representedOrganization>
        <!-- Represents unique registry organization TIN -->
        <id root="root" extension="ext"/>
        <!-- Contains name - specific registry not required-->
        <name></name>
      </representedOrganization>
    </assignedAuthor>
  </author>
  <!-- The custodian of the CDA document is the same as the legal authenticator in this 
  example and represents the reporting organization. -->
  <!-- SHALL -->
  <custodian>
    <assignedCustodian>
      <representedCustodianOrganization>
        <!-- SHALL have an id - This is an example root -->
        <id root="root"/>
        <!-- SHOULD Name not required -->
        <name>Cypress</name>
      </representedCustodianOrganization>
    </assignedCustodian>
  </custodian>
  <!-- The legal authenticator of the CDA document is a single person who is at the 
    same organization as the custodian in this example. This element must be present. -->
  <!-- SHALL -->
  <legalAuthenticator>
    <!-- SHALL -->
    <time value="<%= Time.now.utc.to_formatted_s(:number) %>"/>
    <!-- SHALL -->
    <signatureCode code="S"/>
    <assignedEntity>
      <!-- SHALL ID -->
      <id root="root"/>
      <!-- SHALL -->
      <representedOrganization>
        <!-- SHALL Id -->
        <!-- example root -->
        <id root="root"/>
      </representedOrganization>
    </assignedEntity>
  </legalAuthenticator>
  

  <!-- 
********************************************************
CDA Body
********************************************************
-->
  <component>
    <structuredBody>
      <!-- 
********************************************************
QRDA Category III Reporting Parameters 
********************************************************
-->
<%== render :partial => 'reporting_parameters', :locals => {:start_date => start_date, :end_date => end_date} %>
      <!-- 
********************************************************
Measure Section
********************************************************
-->
      <component>
        <section>
          <!-- Implied template Measure Section templateId -->
          <templateId root="2.16.840.1.113883.10.20.24.2.2"/>
          <!-- In this case the query is using an eMeasure -->
          <!-- QRDA Category III Measure Section template -->
          <templateId root="2.16.840.1.113883.10.20.27.2.1"/>
          <code code="55186-1" codeSystem="2.16.840.1.113883.6.1"/>
          <title>Measure Section</title>
          <text>
             
          </text>
          <% measures.each do |measure| %>
          <entry>
            <organizer classCode="CLUSTER" moodCode="EVN">
              <!-- Implied template Measure Reference templateId -->
              <templateId root="2.16.840.1.113883.10.20.24.3.98"/>
              <!-- SHALL 1..* (one for each referenced measure) Measure Reference and Results template -->
              <templateId root="2.16.840.1.113883.10.20.27.3.1"/>
              <statusCode code="completed"/>
              <reference typeCode="REFR">
                <externalDocument classCode="DOC" moodCode="EVN">
                  <!-- SHALL: required Id but not restricted to the eMeasure Document/Id-->
                  <!-- QualityMeasureDocument/id This is the version specific identifier for eMeasure -->
                  <id root="<%= measure['hqmf_id'] %>"/>
                  
                  <!-- SHOULD This is the title of the eMeasure -->
                  <text><%= measure['name'] %></text>
                  <!-- SHOULD: setId is the eMeasure version neutral id  -->
                  <setId root="<%= measure['hqmf_set_id'] %>"/>
                  <!-- This is the sequential eMeasure Version number -->
                  <versionNumber value="1"/>
                </externalDocument>
              </reference>
             
              <% result = results[measure['hqmf_id']]
                 unless result.is_cv? || result.multiple_population_types?
              -%>
              <component>
              <%== render :partial => 'performance_rate', :locals => {:aggregate_count => result} %>
              </component>
              <% end -%>
              <% result.top_level_populations.each do |pop| 
                   unless pop.type == 'OBSERV' -%>
              <component>
              <%== render :partial => 'measure_data', :locals => {:aggregate_count => result, :population_type => pop.type, :population_id => pop.id} %>
              </component>
              <%   end
                 end -%>
            </organizer>
          </entry>
          <% end %>
        </section>
      </component>
    </structuredBody>
  </component>
</ClinicalDocument>
