      <component>
        <section>
          <!-- 
            *****************************************************************
            Measure Section
            *****************************************************************
          -->
          <!-- This is the templateId for Measure Section -->
          <templateId root="2.16.840.1.113883.10.20.24.2.2"/>
          <!-- This is the templateId for Measure Section QDM -->
          <templateId root="2.16.840.1.113883.10.20.24.2.3"/>
          <!-- This is the LOINC code for "Measure document". This stays the same for all measure section required by QRDA standard -->
          <code code="55186-1" codeSystem="2.16.840.1.113883.6.1"/>
          <title>Measure Section</title>
          <text>
            <table border="1" width="100%">
              <thead>
                <tr>
                  <th>eMeasure Title</th>
                  <th>Version neutral identifier</th>
                  <th>eMeasure Version Number</th>
                  <th>Version specific identifier</th>
                </tr>
              </thead>
              <tbody>
                <% measures.each do |measure| -%>
                <tr>
                  <td><%= measure.title %></td>
                  <td><%= measure.hqmf_set_id %></td>
                  <td><%= measure.hqmf_version_number %></td>
                  <td><%= measure.hqmf_id %></td>
                  <td></td>
                </tr>
                <% end -%>
              </tbody>
            </table>
          </text>
          <!-- 1..* Organizers, each containing a reference to an eMeasure -->
          <% measures.each do |measure| -%>
          <entry>
            <organizer classCode="CLUSTER" moodCode="EVN">
              <!-- This is the templateId for Measure Reference -->
              <templateId root="2.16.840.1.113883.10.20.24.3.98"/>
              <!-- This is the templateId for eMeasure Reference QDM -->
              <templateId root="2.16.840.1.113883.10.20.24.3.97"/>
              <id root="1.3.6.1.4.1.115" extension="<%= measure['id'] %>"/>
              <statusCode code="completed"/>
              <!-- Containing isBranch external references -->
              <reference typeCode="REFR">
                <externalDocument classCode="DOC" moodCode="EVN">
                  <!-- SHALL: This is the version specific identifier for eMeasure: QualityMeasureDocument/id it is a GUID-->
                  <id root="2.16.840.1.113883.4.738" extension="<%= measure.hqmf_id %>"/>
                  <!-- SHOULD This is the title of the eMeasure -->
                  <text><%= measure.title %></text>
                  <!-- SHOULD: setId is the eMeasure version neutral id  -->
                  <setId root="<%= measure.hqmf_set_id %>"/>
                  <!-- This is the sequential eMeasure Version number -->
                  <versionNumber value="<%= measure.hqmf_version_number %>"/>                  
                </externalDocument>
              </reference>
            </organizer>
            
            <% # Only want the epxected values when running from Bonnie
            if patient.respond_to?('expected_values_for_qrda_export') -%>
            <component>
              <%
              #     # Going to assume that any expected_value > 0 is a TRUE
              #     # As per HL7 CDA R2:QRDA I, R1, STU Release 3.1, US Realm, Vol. 2 —Templates and Supporting Material
              #     # Set negationInd="false" to assert true (that the criteria are met by the included data). Set negationInd="true" to assert false (that the criteria are not met by the included data).
              #     # QRDA expects IPOP instead of IPP.
              qrda_expected_values = patient.expected_values_for_qrda_export(measure)
              qrda_expected_values.each do |qev| -%>
                <observation classCode="OBS" moodCode="EVN" negationInd="<%= qev[:expected_value] == '0' ? 'true' : 'false' %>">
                  <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4"/>
                  <value xsi:type="CD"
                    code="<%= qev[:code] == 'IPP' ? 'IPOP' : qev[:code] %>"
                    codeSystem="2.16.840.1.113883.5.4"
                    codeSystemName="ActCode"
                    displayName="<%= qev[:display_name] %>"/>
                  <!-- Explicit reference to the eMeasure population (because some eMeasures have multiple Numerators, etc -->
                  <reference typeCode="REFR">
                    <externalObservation classCode="OBS" moodCode="EVN">
                      <id root="<%= qev[:hqmf_id] %>"/>
                    </externalObservation>
                  </reference>
                </observation>
              <% end -%>
            </component>
            <% end -%>
          </entry>
          <% end -%>
        </section>
      </component>
