<component>
  <!--Encounters-->
  <section>
    <templateId root="2.16.840.1.113883.3.88.11.83.127" assigningAuthorityName="HITSP/C83"/>
    <templateId root="1.3.6.1.4.1.19376.1.5.3.1.1.5.3.3" assigningAuthorityName="IHE PCC"/>
    <templateId root="2.16.840.1.113883.10.20.1.3" assigningAuthorityName="HL7 CCD"/>
    <!--Encounters section template-->
    <code code="46240-8" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of encounters"/>
    <title>Encounters</title>
    <%== render :partial => 'narrative_block', :locals => {:entries => entries, :section => 'encounters'} %>
    <% entries.each_with_index do |entry, i| -%>
    <entry typeCode="DRIV">
      <encounter classCode="ENC" moodCode="EVN">
        <templateId root="2.16.840.1.113883.3.88.11.83.16" assigningAuthorityName="HITSP C83"/>
        <templateId root="2.16.840.1.113883.10.20.1.21" assigningAuthorityName="CCD"/>
        <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.14" assigningAuthorityName="IHE PCC"/>
        <!-- Encounter activity template -->
        <id root="<%= UUID.generate %>"/>
        <%== render :partial => 'code_with_reference', :locals => {:entry => entry, :i => i, :section => 'encounters',
                                                                   :preferred_code_sets => ['CPT']} %>
        <text>
          <reference value="#encounters-desc-<%= i %>"/>
        </text>
        <effectiveTime <%= value_or_null_flavor(entry.as_point_in_time) %>/>
      </encounter>
    </entry>
    <% end -%>
  </section>
</component>