<component>
  <!--Problems-->
  <section>
    <templateId root="2.16.840.1.113883.10.20.22.2.5.1"/>
    <!--Problems section template-->
    <code code="11450-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Problem list"/>
    <title>Problems</title>
    <%== render :partial => 'narrative_block', :locals => {:entries => entries, :section => 'conditions', :status => true } %>
    <% entries.each_with_index do |entry, i| -%>
    <entry typeCode="DRIV">
      <act classCode="ACT" moodCode="EVN">
        <templateId root="2.16.840.1.113883.10.20.22.4.3"/>
        <!-- Problem act template -->
        <id root="<%= UUID.generate %>"/>
        <code nullFlavor="NA"/>
        <% if entry.status.eql? 'resolved' -%>
        <statusCode code="completed"/>
        <% else -%>
        <statusCode code="active"/>
        <% end -%>
        <effectiveTime>
          <low <%= value_or_null_flavor(entry.as_point_in_time) %>/>
        </effectiveTime>
        <entryRelationship typeCode="SUBJ" inversionInd="false">
          <observation classCode="OBS" moodCode="EVN">
            <templateId root="2.16.840.1.113883.10.20.22.4.4"/>
            
            <!--Problem observation template - NOT episode template-->
            <id root="<%= UUID.generate %>"/>
            <code code="64572001" displayName="Condition" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED-CT"/>
            <text>
              <reference value="#conditions-desc-<%= i %>"/>
            </text>
            <statusCode code="completed"/>
            <effectiveTime>
              <low <%= value_or_null_flavor(entry.as_point_in_time) %>/>
            </effectiveTime>
            <% if entry.ordinality -%>
              <priorityCode code="8319008" codeSystem="2.16.840.1.113883.6.96" displayName="Principal diagnosis" />
            <% end -%>
            <%== code_display(entry, {'tag_name' => 'value', 'extra_content' => 'xsi:type="CD"', 'preferred_code_sets' => ['SNOMED-CT']}) %>
            <% if entry.status -%>
            <entryRelationship typeCode="REFR">
              <observation classCode="OBS" moodCode="EVN">
                <templateId root="2.16.840.1.113883.10.20.22.4.6"/>
                <!-- Problem status observation template -->
                <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" displayName="Status"/>
                <statusCode code="completed"/>
                <value xsi:type="CE" code="<%= status_code_for(entry) %>" codeSystem="2.16.840.1.113883.6.96"/>
              </observation>
            </entryRelationship>
            <% end -%>
          </observation>
        </entryRelationship>
      </act>
    </entry>
    <% end -%>
  </section>
</component>
